<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbsfdx.system.mapper.ClassExpenditureMapper">
  <resultMap id="BaseResultMap" type="com.hbsfdx.system.pojo.ClassExpenditure">
    <result column="class_id" jdbcType="BIGINT" property="classId" />
    <result column="updated" jdbcType="DATE" property="updated" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="reson" jdbcType="VARCHAR" property="reson" />
    <result column="week_times" jdbcType="BIGINT" property="weekTimes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    class_id, updated, amount, location, reson, week_times
  </sql>
  <select id="selectByExample" parameterType="com.hbsfdx.system.pojo.ClassExpenditureExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from class_expenditure
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.hbsfdx.system.pojo.ClassExpenditureExample">
    delete from class_expenditure
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbsfdx.system.pojo.ClassExpenditure">
    insert into class_expenditure (class_id, updated, amount, 
      location, reson, week_times
      )
    values (#{classId,jdbcType=BIGINT}, #{updated,jdbcType=DATE}, #{amount,jdbcType=BIGINT}, 
      #{location,jdbcType=VARCHAR}, #{reson,jdbcType=VARCHAR}, #{weekTimes,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hbsfdx.system.pojo.ClassExpenditure">
    insert into class_expenditure
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        class_id,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="reson != null">
        reson,
      </if>
      <if test="weekTimes != null">
        week_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        #{classId,jdbcType=BIGINT},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=DATE},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="reson != null">
        #{reson,jdbcType=VARCHAR},
      </if>
      <if test="weekTimes != null">
        #{weekTimes,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbsfdx.system.pojo.ClassExpenditureExample" resultType="java.lang.Long">
    select count(*) from class_expenditure
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update class_expenditure
    <set>
      <if test="record.classId != null">
        class_id = #{record.classId,jdbcType=BIGINT},
      </if>
      <if test="record.updated != null">
        updated = #{record.updated,jdbcType=DATE},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.location != null">
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.reson != null">
        reson = #{record.reson,jdbcType=VARCHAR},
      </if>
      <if test="record.weekTimes != null">
        week_times = #{record.weekTimes,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update class_expenditure
    set class_id = #{record.classId,jdbcType=BIGINT},
      updated = #{record.updated,jdbcType=DATE},
      amount = #{record.amount,jdbcType=BIGINT},
      location = #{record.location,jdbcType=VARCHAR},
      reson = #{record.reson,jdbcType=VARCHAR},
      week_times = #{record.weekTimes,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>